/**
* Copyright reelyActive 2017-2018
* We believe in an open Internet of Things
*/


body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../images/background.png');
  background-size: cover;
  background-color: #362d48;
  font-family: 'Roboto Condensed', sans-serif;
}

.aqua {
  background-color: #33b7bc;
}

.magenta {
  background-color: #c75784;
}

.yellow {
  background-color: #d79f50;
}

.indigo {
  background-color: #5e62bf;
}

.layout {
  width: 100%;
  height: 100%;
}

.area-box {
  position: relative;
}

.area-bg, .area-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.area-bg {
  background-size: cover;
  background-position: center; 
  opacity: 0.2;
}

.label {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
  line-height: 24px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 200;
}

.occupants {
  width: 100%;
  height: 100%;
}

.full {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.half {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
}

.quarter {
  display: inline-block;
  width: 100%;
  height: 50%;
  vertical-align: top;
}

.hidden {
  display: none;
}
