<!DOCTYPE html>
<html>
  <head>
    <title> reelyActive Sensorscape </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Visualisation of all known sensor data payloads from detected low-power wireless devices.">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/sensorscape.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
    <script type="text/javascript" src="js/angular-chart.min.js"></script>
    <script type="text/javascript" src="js/socket.min.js"></script>
    <script type="text/javascript" src="js/beaver.js"></script>
    <script type="text/javascript" src="js/sensorscape.js"></script>
  </head>
  <body ng-app="sensorscape">
	  <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href> sensorscape </a></li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <uib-accordion ng-repeat="(id, sensor) in sensors">
          <div uib-accordion-group class="panel-default" is-open="true">
            <uib-accordion-heading>
              <span class="identifier"> {{sensor.type}} {{id}} <span class="caret"></span></span>
            </uib-accordion-heading>
            <div class="row">
              <div class="col-md-6">
                <table class="table table-hover">
                  <tr ng-repeat="(key, value) in sensor.data">
                    <th> {{key}} </th>
                    <td> {{value}} </td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <canvas id="line" class="chart chart-line"
                        ng-if="sensor.accData" chart-data="sensor.accData"
                        chart-series="nearableAccSeries"
                        chart-colors="nearableAccColors"
                        chart-options="lineChartOptions">
                </canvas>
              </div>
            </div>
          </div>
        </uib-accordion>
      </div>
      <footer class="footer">
        <a href="https://github.com/reelyactive/sensorscape">
          sensorscape
        </a>
        &nbsp; | &nbsp;
        <a href="http://www.reelyactive.com"
           tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2016-2017
        </a>
      </footer>
    </div>
  </body>
</html>
