body {
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 14pt;
  line-height: 1.75em;
  color: #39454b;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0;
}

img { 
  display: block;
  max-width: 100%;
  margin: 3em auto;
}

a {
  color: #0770a2;
  text-decoration: none;

  -moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
}

  a:hover {
     text-shadow: 0px 1px 1px #aaaaaa;
  }

table {
  border-collapse: collapse;
  border: 1px solid #5a5a5a;
  width: 100%;
  font-size: 12pt;
}

th, td {
  border: 1px solid #5a5a5a;
  padding: 1px;
}

header {
  background-color: #5a5a5a;
  color: #fff;
  text-align: left;
}

  header h1 {
    margin-top: 0;
    padding: 4px;
  }

footer {
  background-color: #5a5a5a;
  color: #fff;
  text-align: right;
}

  footer a {
    color: #fff;
  }

#content {
  min-width: 480px;
  width: 50%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.device-header {
  background-color: #0770a2;
  color: #fff;
  text-align: left;
}

  .device-header a {
    color: #fff;
    font-weight: 600;
  }

.device-identifier {
  float: left;
  width: 50%;
  text-align: left;
}

  .device-identifier pre {
    font-size: 10pt;
    line-height: 1.0em;
    margin-top: 8px;
    margin-left: 1em;
  }

.device-decodings {
  float: left;
  width: 50%;
}

  .device-decodings table {
    margin-top: 8px;
  }

.device-footer {
  clear: both;
}
