body {
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 14pt;
  line-height: 1.75em;
  color: #39454b;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0;
}

img { 
  display: block;
  max-width: 100%;
  margin: 3em auto;
}

a {
  color: #0770a2;
  text-decoration: none;

  -moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
}

  a:hover {
     text-shadow: 0px 1px 1px #aaaaaa;
  }

#content {
  min-width: 480px;
  width: 50%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}


