<!DOCTYPE html>
<html>
  <head>
    <title> reelyActive Bubblescape </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style/bootstrap.min.css">
    <link rel="stylesheet" href="style/bubble.css">
    <link rel="stylesheet" href="style/main.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/socket.io.min.js"></script>
    <script type="text/javascript" src="js/socket.min.js"></script>
    <script type="text/javascript" src="js/beaver.js"></script>
    <script type="text/javascript" src="js/cormorant.js"></script>
    <script type="text/javascript" src="js/bubble.js"></script>
    <script type="text/javascript" src="js/cuttlefish.js"></script>
    <script type="text/javascript" src="js/bubblescape.js"></script>
  </head>
  <body ng-app="bubblescape">
    <div ng-controller="InteractionCtrl">
      <bubble ng-repeat="(id, device) in devices | orderBy:'receiverId'"
              ng-if="hasFetchedStory(device)" id="{{id}}" size="160px"
              json="device.story" mode="desktop" motion="true" fade="true"
              visible="Person,Product,Organization">
      </bubble>
    </div>
  </body>
</html>
