<!DOCTYPE HTML>
<html>
  <head>
    <title> reelyActive: Hyperlocal Context </title>
    <link rel="stylesheet" href="../style/main.css">
  </head>
  <body ng-app="adminpanel">
    <div id="content">
      <h1> Administrative Interface </h1>
      <p> IDs are EUI-64 or AdvA-48 format <br>
          <i>Example: 001bc50940100000 or 1a2b3c4d5e6f</i> </p>
      <div ng-controller="AssociationCtrl">
        <form>
          ID: <input type="text" ng-model="association.id" size="16">
          <button ng-click="association.get()">Retrieve</button>
          <button ng-click="association.put()">Replace</button>
          <button ng-click="association.delete()">Delete</button>
          <br>
          URL: <input type="text" ng-model="association.url" size="16">
          <button ng-click="association.getUrl()">Retrieve</button>
          <button ng-click="association.putUrl()">Replace</button>
          <button ng-click="association.deleteUrl()">Delete</button>
          <br>
          Tags: <input type="text" ng-model="association.tags" size="16">
          <button ng-click="association.getTags()">Retrieve</button>
          <button ng-click="association.putTags()">Replace</button>
          <button ng-click="association.deleteTags()">Delete</button>
          <br>
          Directory: <input type="text" ng-model="association.directory" size="16">
          <button ng-click="association.getDirectory()">Retrieve</button>
          <button ng-click="association.putDirectory()">Replace</button>
          <button ng-click="association.deleteDirectory()">Delete</button>
        </form>
        <p> {{message}} </p>
      </div>
      <br>
      <p> <a href="../"> Return to main page </a> </p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script type="text/javascript" src="../js/admin.js"></script>
  </body>
</html>
