<!DOCTYPE HTML>
<html>
  <head>
    <title> reelyActive Hyperlocal Context </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/reelyactive.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/association.js"></script>
  </head>
  <body ng-app="association">
    <div ng-controller="AssociationCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://www.reelyactive.com">
            <strong>reely</strong>Active
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-1 col-md-2 col-lg-3"></div>
          <div class="col-xs-10 col-md-8 col-lg-6">
            <img src="images/logo.png" class="img-responsive center-block">
            <br><br>
            <p class="text-center"> IDs are EUI-64, AdvA-48 or UUID-128 format.
              Valid examples include: <br>
              <i> 001bc50940100000, 10:05:EC:AB:00:5E or
                  7265656c-7941-6374-6976-652055554944 </i>
            </p>
            <br><br>
            <form class="form-inline" ng-hide="success">
              <div class="form-group">
                <label for="identifier"> Device ID: </label>
                <input type="text" name="identifier" id="identifier"
                       class="form-control" ng-model="device.identifier"
                       size="16" maxlength="36">

              </div>
              <div class="form-group">
                <label for="url"> JSON URL: </label>
                <input type="text" name="url" id="url" class="form-control"
                       ng-model="device.url" ng-readonly="device.hasUrl"
                       size="32">
              </div>
              <div class="form-group">
                <button class="btn btn-primary" ng-click="device.update()">
                  Make association
                </button>
              </div>
            </form>
            <div uib-alert ng-repeat="alert in alerts"
                 ng-class="'alert-' + alert.type"
                 close="closeAlert($index)"> {{alert.message}} </div>
            <p class="text-center" ng-show="success">
              <a ng-href="{{device.href}}" class="btn btn-primary">
                {{device.query}}
              </a>
            </p>
          </div>
          <div class="col-xs-1 col-md-2 col-lg-6"></div>
        </div>
      </div>
      <footer class="footer">
        <a href="https://github.com/reelyactive/hlc-server"
           uib-tooltip="Get the code on GitHub"
           tooltip-placement="left"> hlc-server </a>
        &nbsp; | &nbsp;
        <a href="https://www.reelyactive.com"
           uib-tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2014-2017
        </a>
      </footer>
    </div>
  </body>
</html>
