<!DOCTYPE HTML>
<html>
  <head>
    <title> reelyActive: Hyperlocal Context </title>
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script type="text/javascript" src="js/landing.js"></script>
  </head>
  <body ng-app="landing">
    <div id="content">
      <img src="images/logo.png">
      <form ng-controller="QueryCtrl">
        <select ng-model="query.route"
                ng-options="route.name for route in routes">
        </select>
        <select ng-model="query.parameter"
                ng-options="parameter.name for parameter in parameters">
        </select>
        <input ng-model="query.identifier" type="text" size="16"
               placeholder="test">
        <button ng-click="query.search()"> Search </button>
      </form>
      <div ng-controller="StatisticsCtrl">
        <p>
          Currently processing {{statistics.tiraids}} packets/s
          from {{statistics.devices}} devices.
        </p>
      </div>
      <br>
      <p> <a href="admin"> Admin interface </a> &nbsp; | &nbsp; Learn more at <a href="http://context.reelyactive.com/context.html"> context.reelyactive.com </a> </p>
    </div>
  </body>
</html>
